.add-more-input-box {
  border-radius: 0.4rem;
  border-color: black;
  border-style: solid;
  border-width: 0.12rem;
  color: blue;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
