.add-more-input-box {
  padding: 0.5rem;
}

.form-structure {
  display: flex;
  gap: 0.5rem;
}

.submit-input {
  font-size: 2rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.amount-input {
  width: 3rem;
  height: 2rem;
}
